<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xml:lang="en"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="https://www.facebook.com/2008/fbml"
lang="en">
<head>
	
	<!-- WINDOW TITLE -->
	<title>Instapedia</title>
	
	<% include ../views/partials/headPartial %>
	
</head>
<body>		
	<div class="container-fluid" style="padding:0px;margin:0px;">
		<div class="ip-header-container" style="padding:0px;margin:0px;

		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%- JSON.parse(ig_data).images.standard_resolution.url %>');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		">
		<div class="back" style="padding-top:180px;font-size:50px;text-align:center;text-shadow: 0px 0px 10px rgba(0,0,0,0.85);">
			<div class="row ip-title">
				<%- JSON.parse(ig_data).location.name %>
			</div>
			<div class="row ip-tagline">
				<% var tags = JSON.parse(ig_data).tags; %>
				<% for(var i in tags) {  %>
					#<%-tags[i]  %>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" style="padding:0px;margin:0px;">
		<div class="container">
			<div id="description" class="col-xs-12 col-sm-6 col-md-8 col-lg-8" style="">

			</div>
			<div id="expedia-info" class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="">
				<div id="expedia">
				</div>
				<br>
				<div id="expedia-fast"></div>
				<br>
				<div id="expedia-things">
					<h2> Things to Do near <%- JSON.parse(ig_data).location.name %></h2>
				</div>
			</div>
		</div>
	</div>


	
	<!-- COVER -->		  

	<!-- OPTIONS -->
</body>
<script>

$(document).ready(function() {

});



$(document).ready(function() {
	var loc = '<%- JSON.parse(ig_data).location.name %>';
	var possibilities = loc.split(/[,-]+/);
	var possiblity = 0;
	function searchWikipedia() {
		$.get( "/wikipedia?searchterm=" + possibilities[possiblity] , function( result ) {
			console.log("searched: " + possibilities[possiblity]);
			if (result == null || result == "" || result.indexOf("may refer to:\n") > -1 || result.indexOf("is the name of several places in the world including") > -1) {
				possiblity++;
				if(possiblity < possibilities.length) { searchWikipedia(); return; };
				$.get( "/getflightinfo?lat=" + <%- JSON.parse(ig_data).location.latitude %> + "&long=" + <%- JSON.parse(ig_data).location.longitude %>, function( result ) {
					if (result == null) {
						console.log("Error: Flight info is null");
						return;
					}
					var package_result = JSON.parse(JSON.stringify(result))
					var package_button = '<button type="button" class="btn btn-primary">' + package_result.price + '</button>'
					$( "#expedia" ).append(package_button);
				});
				$.get( "/getjustflightinfo?lat=" + <%- JSON.parse(ig_data).location.latitude %> + "&long=" + <%- JSON.parse(ig_data).location.longitude %>, function( result ) {
					if (result == null) {
						console.log("Error: Flight info is null");
						return;
					}
					$( "#expedia-fast" ).prepend(JSON.stringify(result));
				});
				$.get( "/getthingstodo?lat=" + <%- JSON.parse(ig_data).location.latitude %> + "&long=" + <%- JSON.parse(ig_data).location.longitude %>, function( result ) {
					if (result == null) {
						console.log("Error: Flight info is null");
						return;
					}
					var things_results = '<ul>'
					var result = JSON.parse(JSON.stringify(result))
					for (var i in result){ 
						things_results += '<li>' + result[i].title + '</li>'
					}
					things_results += '</ul>'
					$( "#expedia-things" ).append(things_results);
				});
				return;
			}
			console.log(possibilities[possiblity]);
			
			$.get( "/getflightinfo?lat=" + <%- JSON.parse(ig_data).location.latitude %> + "&long=" + <%- JSON.parse(ig_data).location.longitude %> + "&name=" + possibilities[possiblity], function( result ) {
				if (result == null) {
					console.log("Error: Package info is null");
					return;
				}
				var package_result = JSON.parse(JSON.stringify(result))
				var start_date = package_result.detailsURL.substring(package_result.detailsURL.indexOf("departDate=L1:")+14, package_result.detailsURL.indexOf("|L2:",package_result.detailsURL.indexOf("departDate=L1:")+14));
				var end_date = package_result.detailsURL.substring(package_result.detailsURL.indexOf("L2:",package_result.detailsURL.indexOf("departDate=L1:"))+3, package_result.detailsURL.indexOf("&",package_result.detailsURL.indexOf("L2:",package_result.detailsURL.indexOf("departDate=L1:"))));

				var package_button = start_date + ' ---> ' + end_date + ' <button type="button" class="btn btn-primary">' + package_result.price + '</button>'
				$( "#expedia" ).append(package_button);
			});
			$.get( "/getjustflightinfo?lat=" + <%- JSON.parse(ig_data).location.latitude %> + "&long=" + <%- JSON.parse(ig_data).location.longitude %>, function( result ) {
				if (result == null) {
					console.log("Error: Flight info is null");
					return;
				}
				$( "#expedia-fast" ).prepend(JSON.stringify(result));
			});
			$.get( "/getthingstodo?name=" + '<%- JSON.parse(ig_data).location.name %>', function( result ) {
				if (result == null) {
					console.log("Error: nothing to do!");
					return;
				}
				var things_results = '<ul>'
				var result = JSON.parse(JSON.stringify(result))
				for (var i in result){ 
					things_results += '<li>' + result[i].title + '</li>'
				}
				things_results += '</ul>'
				$( "#expedia-things" ).append(things_results);
			});
			
			// do not fear the regex but also do not touch it
			$( "#description" ).prepend('<p>' + result.replace(/ *\([^)]*\) */g,'').replace(/(?:\r\n|\r|\n)/g, '</p><p>') + '</p>');
		});
	} 
	searchWikipedia();
});



</script>
</html>